elpa/
eshell/
workspace/
transient/
.cache/
auto-save-list/
custom.el
recentf
projectile-bookmarks.*
eclipse.jdt.ls
.lsp*
projects
abbrev_defs
.dap-breakpoints
.org-id-locations
bookmarks
url/
network-security.data
codeium.el/
codeium/
tramp
